.hamburger-bg-overlay {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100vh;
    opacity: 0;
}

.hamburger-bg-overlay.shown {
    display: flex;
    opacity: 1;
    animation: fade-in 0.15s ease-out;
}

.hamburger-bg-overlay.hiding {
    animation: fade-out 0.3s ease-out;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
